@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h2 class="display-4">Создание хранилища</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Название:</div>
        <div class="col-8"><input type="text" name="companyName" id="companyName"/></div>
    </div>
    <div class="row">
        <div class="col-4">ФИО ответственного:</div>
        <div class="col-8"><input type="text" name="nameResponsible" id="nameResponsible"/></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <input type="submit" value="Создать" class="btn btn-primary" />
        </div>
    </div>
</form>
