@{
    ViewData["Title"] = "Privacy";
}

<div class="text-center">
    <h2 class="display-4">Изменение хранилища</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Название:</div>
        <div class="col-8"><input type="text" name="companyName" id="companyName" value="@ViewBag.CompanyName" /></div>
    </div>
    <div class="row">
        <div class="col-4">ФИО ответственного:</div>
        <div class="col-8"><input type="text" name="nameResponsible" id="nameResponsible" value="@ViewBag.NameResponsible" /></div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Условие
                </th>
                <th>
                    Количество
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.CompanyConditions)
            {
                <tr>
                    <td>
                        @item.Item1
                    </td>
                    <td>
                        @item.Item2
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Сохранить" class="btn btn-primary" /></div>
    </div>
</form>
